/* colors */
:root {
  --heroBackground: #0e3735fa;
  --white: #a9dee9;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
.App {
  text-align: center;
  font-family: "Playfair Display", serif;
}

.HeaderDiv {
  background-color: var(--heroBackground);
  padding: 1rem;
}

.HeaderRight ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  float: right;
}
.HeaderRight li {
  display: inline;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.HeaderLeft {
  float: left;
  color: var(--white);
  font-size: 1.2rem;
}

.HeroSection {
  background-color: var(--heroBackground);
  height: 87vh;
}

.HeroText {
  width: 100%;
  height: 87vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Spline {
  position: absolute;
  top: -4rem;
  z-index: 2;
  transform: scale(0.7);
}

.HeroText h2 {
  opacity: 0;
  letter-spacing: 0.2rem;
}

.TextHeader1 {
  padding-top: 6rem;
  padding-right: 10rem;
}
.TextHeader2 {
  padding-left: 15rem;
}

.HeroText p {
  opacity: 0;
  padding-bottom: 1rem;
  letter-spacing: 0.1rem;
  color: var(--white);
}
.TextParagraphButton {
  width: 70%;
  margin: 2rem auto;
}

.HeroText button {
  opacity: 0;
  margin-bottom: 2rem;
}
