/* colors */
:root {
  --heroBackground: #0e3735fa;
  --white: #a9dee9;
  --pink: #c99dac;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.App {
  font-family: "Playfair Display", serif;
}

/* Header Section */
.HeaderContainer {
  background-color: var(--heroBackground);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  font-family: "Roboto", sans-serif;
}

.HeaderLeft {
  color: var(--white);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.HeaderLeft p {
  font-size: 0.9rem;
  margin: 0px;
  padding-left: 1rem;
}

.HeaderLeft img {
  height: 50px;
  border-radius: 50%;
}

.HeaderRight ul {
  list-style-type: none;
}

.HeaderRight li {
  text-decoration: none;
  display: inline;
  color: var(--white);
  text-align: center;
  padding-left: 40px;
  text-decoration: none;
  cursor: pointer;
}

.HeaderRight ul :hover {
  color: var(--pink);
}

.HeaderRight li a {
  text-decoration: none;
  color: var(--white);
}

/* Hero Section */

.HeroSection {
  background-color: var(--heroBackground);
  height: 90vh;
}

.HeroText {
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.Spline {
  margin: -31rem 0;
  transform: scale(0.8);
}
.containerSpline {
  display: flex;
  justify-content: center;
}

.HeroText h2 {
  opacity: 0;
  letter-spacing: 0.2rem;
}

.TextHeader1 {
  padding-top: 6rem;
  padding-right: 10rem;
  font-family: "Playfair Display", serif;
}

.TextHeader2 {
  padding-left: 15rem;
  font-family: "Playfair Display", serif;
}

.HeroText p {
  font-size: 1.2rem;
  opacity: 0;
  padding-bottom: 3rem;
  letter-spacing: 0.1rem;
  color: var(--white);
}
.TextParagraphButton {
  max-width: 75rem;
  margin: 7rem auto;
}

.HeroText button {
  cursor: pointer;
  opacity: 0;
  background-color: var(--pink);
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--white);
  font-family: "Playfair Display", serif;
  padding: 8px 20px;
  font-size: 1.2rem;
}

.HeroText button:hover {
  background-color: var(--heroBackground);
  color: var(--pink);
  border-color: var(--pink);
}

/* Projects Section */

.projectsSection {
  padding: 8rem 12rem;
  background-color: #a9dee92e;
}

.projectsSection h2 {
  font-size: 2rem;
  color: var(--heroBackground);
  margin-bottom: 6rem;
  display: inline-block;
}

.projectsHeader {
  width: 100%;
  text-align: center;
}

.projectsHeader hr {
  display: inline-block;
  width: 30%;
  border: 2px solid #0e3735fa;
  margin: 0 3rem;
}

.projectItem {
  display: flex;
  justify-content: center;
  gap: 6%;
  margin-bottom: 6rem;
}
.projectImage {
  flex: 1;
}

.projectItem img {
  width: 100%;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projectDetails {
  flex: 1;
  font-family: "Roboto", sans-serif;
}

.projectDetails h4 {
  white-space: pre-wrap;
}

.projectTechStack {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.projectTechStack li {
  list-style: none;
  border-radius: 2rem;
  background-color: #c99dac;
  padding: 0.4rem 1rem;
}

.projectIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

.projectName {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  padding-left: 1rem;
  color: var(--heroBackground);
  cursor: pointer;
}

/* About Section */
.aboutSection {
  background-color: var(--heroBackground);
  color: #a9dee9;
  padding: 8rem 6rem;
}

.aboutHeader {
  text-align: center;
}

.aboutSection h2 {
  font-size: 2rem;
  margin: 2rem 0;
  display: inline-block;
}

.aboutHeader hr {
  display: inline-block;
  width: 30%;
  border: 2px solid #a9dee9;
  margin: 0 3rem;
}
.aboutSection img {
  height: 15rem;
  border-radius: 50%;
}

.aboutTextImg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 3rem;
}

.aboutText {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  width: 60%;
}

/* Footer Section */

.footerSection {
  background-color: #a9dee92e;
  padding: 8rem 6rem;
}

.footerHeader {
  width: 100%;
  text-align: center;
}

.footerSection h2 {
  font-size: 2rem;
  color: var(--heroBackground);
  margin-bottom: 6rem;
  display: inline-block;
}

.footerHeader hr {
  display: inline-block;
  width: 30%;
  border: 2px solid #0e3735fa;
  margin: 0 3rem;
}

.footerSection img {
  width: 20rem;
  right: 0;
}

.contactForm {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

Form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--heroBackground);
  color: var(--white);
}

Form h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.contactForm button {
  cursor: pointer;
  background-color: var(--pink);
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--white);
  font-family: "Playfair Display", serif;
  padding: 8px 20px;
  margin: 1.2rem 0 1rem 0;
}

.contactForm button:hover {
  background-color: var(--heroBackground);
  color: var(--pink);
  border-color: var(--pink);
}

.footerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.footerIcons a {
  margin: 1rem;
}
